:root{
  --bg-color: #fff;
  --bg-color-2: #eee;
  --border: #ccc;
  --text-color: #000;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

body.dark {
  --bg-color: #000000;
  --bg-color-2: #222;
  --border: #333;
  --text-color: #fff;
}

* {
  font-family: sans-serif;
}

button {
  outline: none;
}